/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {}



/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {


    .menu ul li a {
        padding: 14px 0 22px;
    }

    .service-2 .service-box .sb-icon {
        width: 30%;
    }
    .service-2 .service-box .sb-content {
        width: 70%;
    }
    .join-now h2 {
        font-size: 22px;
        line-height: 26px;
    }
    .join-now a {
        padding: 6px 18px;
    }
    .wpc-box {
        margin: 0 40px;
    }
    /*home2*/
    .h2-hero-content-area {
        top: 24%;
    }
    .h2ha-c-title,
    .h2ha-c-title>span {
        margin: 0 0 32px;
    }
    .h2ha-c-text {
        margin: auto auto 32px;
        width: 100%;
    }
    .h2csb-content {
        padding-left: 12px;
    }
    /*home-3*/
    .h3-menu ul li a {
        padding: 5px 8px;
    }
    .h3-team-box .h3tb-content {
        -webkit-transform: translateY(208px);
        -ms-transform: translateY(208px);
        -o-transform: translateY(208px);
        transform: translateY(208px);
    }
    /*home-4*/
    .h4ph-box {
        padding: 40px;
    }
    .h4-single-blog {
        padding: 40px 30px 40px 40px;
    }
    .h4-single-blog .h4sb-title {
        font-size: 22px;
        line-height: 26px;
    }
    /*home-5*/
    .h5-hta-social h4 {
        margin-right: 10px;
    }
    .h5-sc-box {
        padding: 16px 8px;
    }
}



/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .menu-area.navbar-fixed-top {
        position: inherit;
    }
    .menu-area {
        padding: 15px 0;
    }

    .wpc-box {
        margin: 0 30px;
    }
    .testimonial-box .tb-img {
        width: 30%;
    }
    .testimonial-box .tb-content {
        padding-left: 0;
        width: 100%;
        margin-top: 30px;
    }
    .fba-links {
        text-align: left;
    }
    .fba-links ul li {
        margin-left: 0;
        margin-right: 20px;
    }
    /*home2*/
    .h2-header {
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        position: inherit;
    }
    .h2-header.navbar-fixed-top {
        position: inherit;
    }
    .h2-free-trial {
        font-size: 14px;
        margin-top: 14px;
        padding: 8px 18px;
    }
    .h2-hero-content-area {
        top: 10%;
    }
    .h2ha-c-title,
    .h2ha-c-title>span {
        margin: 0 0 28px;
    }
    .h2ha-c-text {
        margin: auto auto 44px;
        width: 100%;
    }
    .h2-client-say-box::before {
        display: none;
    }
    .single-footer {
        margin: 0 0 30px;
    }
    .h2-footer-top-border {
        margin-top: 20px;
    }
    .h2fba-links {
        text-align: left;
    }
    .hero-go-down>a {
        bottom: -28px;
        height: 40px;
    }
    /*home-2*/
    #home3_slider .nivo-caption .cap-title {
        margin: 0 0 12px;
    }
    #home3_slider .nivo-caption .cap-title h2 {
        font-size: 40px;
        line-height: 44px;
    }
    #home3_slider .nivo-caption .cap-details {
        margin: 0 0 44px;
    }
    #home3_slider .nivo-caption .cap-details p {
        font-size: 18px;
    }
    #home3_slider .nivo-caption .cap-readmore a {
        font-size: 14px;
        padding: 12px 23px;
    }
    .h3-section-title p {
        margin: 0 0 26px;
    }
    .h3-section-title h2 {
        font-size: 30px;
        line-height: 34px;
    }
    .h3-section-title {
        margin: 0 0 30px;
    }
    .h3-pricing-box {
        margin: 0 0 30px;
    }
    .h3-pricing-area {
        padding: 60px 0 70px;
    }
    .client-feedback-carousel .owl-nav {
        left: -110%;
    }
    .h3ca-left {
        margin-bottom: 30px;
        margin-top: 12px;
    }
    .h3-single-footer {
        margin-bottom: 30px;
        min-height: 300px;
    }
    .h3-footer-top-area {
        padding: 91px 0 0;
    }
    /*home-4*/
    .h4-logo {
        text-align: center;
    }
    .h4cd-check {
        margin-right: 8px;
        padding: 12px 16px;
    }
    .service-6 .service-box:last-child {
        margin-bottom: 56px;
    }
    .h4ph-box {
        padding: 40px;
    }
    .h4ph-box h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .h4as-img {
        margin: 30px 0;
        text-align: right;
    }
    .h4-single-footer {
        margin: 0 0 30px;
    }
    /*home-5*/
    .h5-logo {
        text-align: center;
    }
    .h5-hc-carousel {
        margin-top: 50px;
    }
    .h5-hero-content h2 {
        font-size: 30px;
        line-height: 34px;
    }
    .h5-hc-carousel .owl-dots {
        bottom: -60%;
        left: 30%;
    }
    .h5-course-box {
        margin: 0 0 30px;
    }
    .h5-counter-box {
        margin: 0 0 30px;
    }
    .h5-counter-area {
        padding: 100px 0 60px;
    }
    .h5ub-content {
        padding: 5px 20px;
    }
    .h5-single-footer {
        margin: 0 0 30px;
    }
    .h5fba-right {
        text-align: left;
    }
    .h5fba-left {
        margin: 0 0 30px;
    }
    .h5-hta-social h4 {
        margin-right: 10px;
    }
    /*home-6*/
    .h6aa-content {
        margin: 0;
    }
    .h6-service-area {
        padding: 20px 0 50px;
    }
    .service-7 .service-box {
        margin: 0 0 30px;
    }
    .h6-db-border {
        display: none;
    }
    .h6-department-area {
        padding: 82px 0 63px;
    }
    .h6-department-box {
        margin: 0 0 30px;
    }
    .h6-db-img {
        display: inline-block;
    }
    .h6-ca-right {
        margin: 30px 0 0;
        text-align: left;
    }
    .h6-sa-right .widget_wysija_cont input[type="email"] {
        min-width: 190px;
    }
    /*blog-standard*/
    .sbs-c-meta p {
        margin-right: 10px;
    }
    .sbs-c-meta p::after {
        right: -10px;
    }
    /*blog-details*/
    .blog-hero h2.bh-title {
        font-size: 38px;
        line-height: 42px;
        padding-bottom: 44px;
    }
    .bd-img-content {
        bottom: 10px;
        left: 30px;
    }
    .bd-img-content h2 {
        font-size: 38px;
        line-height: 42px;
    }
    .bd-img-content ul li {
        margin-right: 10px;
    }
    .bd-img-content ul li::after {
        right: -12px;
    }
    .bd-blockquote {
        font-size: 18px;
        line-height: 22px;
        padding-left: 84px;
    }
    .aa-box .aa-box-img {}
    .comment-status-text .comment-author-metadata .author {
        margin: 18px 0 14px;
    }
    .comments .children li {
        padding-left: 10px;
    }
    .comment-respond-box {
        padding: 35px 30px 50px;
    }

    .contact-address {
        margin: 0 0 30px;
    }
}



@media only screen and (min-width: 414px) and (max-width: 768px) {
    .osa-banner {
        display: none;
    }
    .h2-about1-area {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
    .h2-about2-area {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {

    .menu-area.navbar-fixed-top {
        position: inherit;
    }
    .header-top-social {
        text-align: left;
    }
    .about1-banner {
        margin: 60px 0;
    }
    .service-2 .service-box:last-child {
        margin: 0 0 72px;
    }
    .osa-banner {
        display: none;
    }
    .our-service-area {
        padding: 104px 0 30px;
    }
    #project_mix .mix.mix_big {
        width: 49%;
    }
    #project_mix .mix {
        width: 50%;
    }
    .join-now h2 {
        display: block;
    }
    .join-now a {
        float: none;
    }
    .why-choose-banner {
        margin: 60px 0;
    }
    .wpc-box {
        margin: 0 20px;
    }
    .h1-team-caousel .owl-nav {
        display: none;
    }
    .home1-counter-area {
        padding: 78px 0 80px;
    }
    .h1-counter-box {
        margin: 0 0 20px;
    }
    .h1na-form-area input[type="email"] {
        width: 100%;
    }
    .h1na-form-area input[type="submit"] {
        margin-left: 0;
        margin-top: 20px;
    }
    .h1-single-blog .h1sb-img img {
        width: 100%;
    }
    .single-fta {
        margin: 0 0 20px;
    }
    .fba-links {
        text-align: left;
        margin: 14px 0 0;
    }
    .fba-links ul li {
        margin-left: 0;
        margin-right: 20px;
    }
    /*home2*/
    .h2-header {
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        position: inherit;
    }
    .h2-header.navbar-fixed-top {
        position: inherit;
    }
    .h2-free-trial {
        font-size: 14px;
        margin-top: 14px;
        padding: 8px 18px;
    }
    .h2-hero-content-area {
        top: 4%;
    }
    .h2ha-c-title,
    .h2ha-c-title>span {
        font-size: 32px;
        line-height: 36px;
        margin: 0 0 14px;
    }
    .h2ha-c-text {
        font-size: 18px;
        line-height: 24px;
        margin: auto auto 22px;
        width: 100%;
    }
    .h2ha-c-link {
        font-size: 16px;
        padding: 4px 16px;
    }
    .h2-hero-area .hero-go-down {
        bottom: 0;
    }
    .h2-about1-area {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
    .h2-about2-area {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
    .h2-section-title {
        font-size: 28px;
        line-height: 34px;
    }
    .h2csb-img-box {
        margin-top: 30px;
    }
    .h2csb-content {
        padding-left: 10px;
    }
    .h2-get-started-left {
        margin: 0 0 40px;
    }
    .h2-pricing-box {
        margin-bottom: 30px;
        width: 100%;
    }
    .h2-pricing-box.active {
        top: 0;
    }
    .single-footer {
        margin: 0 0 30px;
    }
    .h2-footer-top-border {
        margin-top: 0;
    }
    .h2fba-left {
        margin: 0 0 30px;
    }
    .h2fba-links {
        text-align: left;
    }
    /*home-3*/
    #home3_slider .nivo-directionNav>a {
        display: none;
    }
    .h3-header {
        padding: 8px 0;
    }
    .h3-about-img {
        margin: 0 0 30px;
    }
    .h3-counter-box {
        border-bottom: 1px solid #d9d9d9;
        width: 50%;
    }
    .h3-counter-box:last-child {
        border-right: 1px solid #d9d9d9;
    }
    .service-5 .service-box {
        margin: 0 0 30px;
    }
    .h3-service-area {
        padding: 65px 0 50px;
    }
    .h3-pricing-box {
        margin: 0 0 30px;
    }
    .h3-pricing-area {
        padding: 60px 0 70px;
    }
    .h3-blog-box {
        margin: 0 0 30px;
    }
    .h3-blog-area {
        padding: 60px 0 30px;
    }
    .h3ca-left {
        margin-bottom: 30px;
    }
    .h3fba-left {
        margin: 0 0 30px;
    }
    .h3fba-right {
        text-align: left;
    }
    .h3-section-title h2 {
        font-size: 32px;
        line-height: 36px;
    }
    .client-feedback-left {
        padding-bottom: 10px;
    }
    .client-feedback-carousel .owl-nav {
        bottom: -70px;
        left: auto;
        right: 0;
    }
    .h3-team-box .h3tb-content {
        -webkit-transform: translateY(236px);
        -ms-transform: translateY(236px);
        -o-transform: translateY(236px);
        transform: translateY(236px);
    }
    /*home-4*/
    .h4-hero-content h2 {
        font-size: 40px;
        line-height: 44px;
        margin: 0 0 16px;
    }
    .h4-hero-content h3 {
        font-size: 32px;
        line-height: 36px;
    }
    .h4cda-img {
        margin: 0 0 30px;
    }
    .h4-section-title h2 {
        font-size: 34px;
        line-height: 38px;
    }
    .h4cd-check {
        margin-bottom: 20px;
    }
    .service-6 .service-box:last-child {
        margin-bottom: 56px;
    }
    .h4ph-box {
        padding: 20px;
    }
    .h4ph-box a {
        padding: 14px 16px;
    }
    .h4ph-box a i {
        margin-left: 14px;
    }
    .h4as-list {
        padding-left: 20px;
        padding-right: 20px;
    }
    .h4as-list-box.h4aslb-text-right .h4as-lb-head img {
        right: -14px;
    }
    .h4as-list-box .h4as-lb-head h4 {
        padding: 5px 54px 5px 14px;
    }
    .h4as-list-box .h4as-lb-head h4 {
        padding: 10px 10px 10px 75px;
    }
    .h4as-list-box .h4as-lb-head img {
        left: -16px;
    }
    .h4-single-blog {
        padding: 30px 20px 40px 40px;
    }
    .h4fb-left {
        margin-bottom: 20px;
    }
    .h4as-img {
        margin: 30px 0;
    }
    .h4as-list-box p {
        margin-left: 60px;
    }
    /*home-5*/
    .h5-hta-social {
        margin-left: 14px;
    }
    .h5-hta-left {
        margin-bottom: 20px;
    }
    .h5-hc-carousel {
        margin-bottom: 60px;
        margin-top: 40px;
    }
    .h5-hc-carousel .owl-dots {
        display: none;
    }
    .h5-wc-content {
        margin: 0 0 30px;
    }
    .h5-cb-content {
        padding: 21px 12px 53px;
    }
    .h5-course-box {
        margin-bottom: 30px;
    }
    .h5-popular-course-area {
        padding: 90px 0 65px;
    }
    .h5-counter-box {
        margin: 0 0 30px;
    }
    .h5-counter-area {
        padding: 100px 0 60px;
    }
    .h5ub-content {
        padding: 10px;
    }
    .h5-single-footer {
        margin: 0 0 30px;
    }
    .h5fba-left {
        margin: 0 0 30px;
    }
    .h5fba-right {
        text-align: left;
    }
    .h5-logo {
        text-align: center;
    }
    .h5-cb-img>a img {
        width: 100%;
    }
    .h5-lecturers-img>img {
        width: 100%;
    }
    .h5ub-img {
        text-align: center;
    }
    /*home-6*/
    .h6hta-social {
        text-align: center;
    }
    .h6hta-left {
        margin: 6px 0 30px;
        text-align: center;
    }
    .h6hma-logo {
        text-align: center;
    }
    .h6hma-right {
        text-align: center;
    }
    .h6-hero-form-area {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .service-7 .service-box {
        margin: 0 0 30px;
    }
    .h6-service-area {
        padding: 20px 0 50px;
    }
    .service-8 .service-box:last-child {
        margin: 0 0 46px;
    }
    .h6-db-img {
        display: inline-block;
    }
    .h6-section-title h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .h6-department-box {
        margin: 0 0 30px;
    }
    .h6-department-area {
        padding: 82px 0 63px;
    }
    .h6-doctor-box {
        margin: 0 0 30px;
    }
    .h6-doctor-area {
        padding: 60px 0 71px;
    }
    .h6-db-border {
        display: none;
    }
    .h6-ca-right {
        margin: 28px 0 0;
        text-align: left;
    }
    .h6-ca-right>a {
        margin-bottom: 20px;
    }
    .h6-blog-box .h6-bb-content {
        padding: 27px 10px 24px 14px;
    }
    .h6-subscribe {
        padding: 30px 20px;
    }
    .h6-sa-right .widget_wysija_cont input[type="email"] {
        margin: 0 0 30px;
    }
    .h6-single-footer {
        margin: 0 0 30px;
    }
    .h6hc-intro {
        font-size: 14px;
        line-height: 18px;
    }
    .h6hc-title {
        font-size: 28px;
        line-height: 32px;
    }
    /*blog-standard*/
    .sbs-c-meta p {
        margin-right: 10px;
    }
    .sbs-c-meta p::after {
        right: -10px;
    }
    .blog-sidebar {
        margin: 60px auto auto;
        width: 264px;
    }
    /*blog-details*/
    .blog-hero h2.bh-title {
        font-size: 38px;
        line-height: 42px;
        padding-bottom: 44px;
    }
    .bd-img-content {
        left: 30px;
    }
    .bd-img-content h2 {
        font-size: 38px;
        line-height: 42px;
    }
    .bd-img-content ul li {
        margin-right: 10px;
    }
    .bd-img-content ul li::after {
        right: -12px;
    }
    .bd-blockquote {
        font-size: 18px;
        line-height: 22px;
        padding-left: 84px;
    }
    .aa-box .aa-box-img {
        margin: 0 0 30px;
    }
    .comment-status-text .comment-author-metadata .author {
        margin: 18px 0 14px;
    }
    .comments .children li {
        padding-left: 10px;
    }
    .comment-respond-box {
        padding: 35px 30px 50px;
    }
    /*contact*/
    .contact-address {
        margin: 0 0 30px;
    }
    .contact-map {
        margin: 0 0 30px;
    }
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {
    /*home1*/
    .header-top-social {
        text-align: left;
    }
    .menu-area {
        padding: 15px 0 10px;
    }
    .hero-go-down {
        bottom: 0px;
    }
    .menu-area.navbar-fixed-top {
        position: inherit;
    }
    .about1-banner {
        margin: 30px 0;
    }
    .service-2 .service-box:last-child {
        margin: 0 0 72px;
    }
    .osa-banner {
        display: none;
    }
    .our-service-area {
        padding: 104px 0 30px;
    }
    .latest-project-menu>div {
        margin-bottom: 8px;
        margin-right: 5px;
        padding: 8px 16px;
    }
    #project_mix .mix.mix_big {
        width: 100%;
    }
    #project_mix .mix {
        width: 100%;
    }
    .join-now h2 {
        display: block;
    }
    .join-now a {
        float: none;
    }
    .why-choose-banner {
        margin: 30px 0;
    }
    .wpc-box {
        margin: 0 20px;
    }
    .wpc-border {
        display: none;
    }
    .h1-team-caousel .owl-nav {
        display: none;
    }
    .h1na-form-area input[type="email"] {
        width: 100%;
    }
    .h1na-form-area input[type="submit"] {
        margin-left: 0;
        margin-top: 14px;
    }
    .testimonial-box .tb-img {
        width: 30%;
        margin: 0 0 20px;
    }
    .testimonial-box .tb-content {
        padding-left: 0;
        width: 100%;
    }
    .single-fta {
        margin: 0 0 30px;
    }
    .fba-links {
        text-align: left;
    }
    .fba-links ul li {
        margin-left: 0;
        margin-right: 20px;
    }
    .search-modal .modal-content input[type="text"] {
        width: 320px;
    }
    .htl-box {
        margin-right: 8px;
    }
    .htl-box i {
        margin-right: 2px;
    }
    .htl-box p {
        font-size: 11px;
    }
    .service-2 .service-box .sb-icon {
        width: 30%;
    }
    .service-2 .service-box .sb-content {
        width: 70%;
    }
    .service-1 .service-box .sb-icon::after {
        height: 180%;
        left: 68%;
    }
    /*home2*/
    .h2-header {
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        position: inherit;
    }
    .h2-header.navbar-fixed-top {
        position: inherit;
    }
    .h2-free-trial {
        font-size: 10px;
        padding: 2px 4px;
    }
    .h2-hero-content-area {
        top: 4%;
    }
    .h2ha-c-title,
    .h2ha-c-title>span {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 8px;
    }
    .h2ha-c-text {
        font-size: 14px;
        line-height: 18px;
        margin: auto auto 10px;
        width: 100%;
    }
    .h2ha-c-link {
        font-size: 12px;
        padding: 1px 10px;
    }
    .h2-hero-area .hero-go-down {
        display: none;
    }
    .h2-about1-area {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
    .h2-about2-area {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
    .h2-section-title {
        font-size: 28px;
        line-height: 34px;
    }
    .h2csb-img-box {
        margin-top: 30px;
    }
    .h2csb-content {
        padding-left: 10px;
    }
    .h2-get-started-left {
        margin: 0 0 40px;
    }
    .h2-pricing-box {
        margin-bottom: 30px;
        width: 100%;
    }
    .h2-pricing-box.active {
        top: 0;
    }
    .single-footer {
        margin: 0 0 30px;
    }
    .h2-footer-top-border {
        margin-top: 0;
    }
    .h2fba-left {
        margin: 0 0 30px;
    }
    .h2fba-links {
        text-align: left;
    }
    /*home-3*/
    #home3_slider .nivo-directionNav>a {
        display: none;
    }
    .h3-header {
        padding: 8px 0;
    }
    .h3-about-img {
        margin: 0 0 30px;
    }
    .h3-counter-box {
        border-bottom: 1px solid #d9d9d9;
        width: 50%;
    }
    .h3-counter-box:last-child {
        border-right: 1px solid #d9d9d9;
    }
    .service-5 .service-box {
        margin: 0 0 30px;
    }
    .h3-service-area {
        padding: 65px 0 50px;
    }
    .h3-pricing-box {
        margin: 0 0 30px;
    }
    .h3-pricing-area {
        padding: 60px 0 70px;
    }
    .h3-blog-box {
        margin: 0 0 30px;
    }
    .h3-blog-area {
        padding: 60px 0 30px;
    }
    .h3ca-left {
        margin-bottom: 30px;
    }
    .h3fba-left {
        margin: 0 0 30px;
    }
    .h3fba-right {
        text-align: left;
    }
    .h3-section-title h2 {
        font-size: 32px;
        line-height: 36px;
    }
    .client-feedback-left {
        padding-bottom: 10px;
    }
    .client-feedback-carousel .owl-nav {
        bottom: -70px;
        left: auto;
        right: 0;
    }
    .h3-team-box .h3tb-content {
        -webkit-transform: translateY(205px);
        -ms-transform: translateY(205px);
        -o-transform: translateY(205px);
        transform: translateY(205px);
    }
    /*home-4*/
    .h4-hero-content h2 {
        font-size: 40px;
        line-height: 44px;
        margin: 0 0 16px;
    }
    .h4-hero-content h3 {
        font-size: 32px;
        line-height: 36px;
    }
    .h4cda-img {
        margin: 0 0 30px;
    }
    .h4-section-title h2 {
        font-size: 34px;
        line-height: 38px;
    }
    .h4cd-check {
        margin-bottom: 20px;
    }
    .service-6 .service-box:last-child {
        margin-bottom: 56px;
    }
    .h4ph-box {
        padding: 20px;
    }
    .h4ph-box a {
        padding: 14px 16px;
    }
    .h4ph-box a i {
        margin-left: 14px;
    }
    .h4as-list {
        padding-left: 0;
        padding-right: 0;
    }
    .h4as-list-box.h4aslb-text-right .h4as-lb-head img {
        right: -14px;
    }
    .h4as-list-box .h4as-lb-head h4 {
        padding: 5px 54px 5px 14px;
    }
    .h4as-list-box .h4as-lb-head h4 {
        padding: 5px 10px 5px 70px;
    }
    .h4as-list-box .h4as-lb-head img {
        left: -16px;
    }
    .h4-single-blog {
        padding: 30px 20px 40px 40px;
    }
    .h4fb-left {
        margin-bottom: 20px;
    }
    .h4as-img {
        margin: 30px 0;
    }
    /*home-5*/
    .h5-hta-social {
        margin-left: 14px;
    }
    .h5-hta-left {
        margin-bottom: 20px;
    }
    .h5-hc-carousel {
        margin-bottom: 60px;
        margin-top: 40px;
    }
    .h5-hc-carousel .owl-dots {
        display: none;
    }
    .h5-wc-content {
        margin: 0 0 30px;
    }
    .h5-cb-content {
        padding: 21px 12px 53px;
    }
    .h5-course-box {
        margin-bottom: 30px;
    }
    .h5-popular-course-area {
        padding: 90px 0 65px;
    }
    .h5-counter-box {
        margin: 0 0 30px;
    }
    .h5-counter-area {
        padding: 100px 0 60px;
    }
    .h5ub-content {
        padding: 10px;
    }
    .h5-single-footer {
        margin: 0 0 30px;
    }
    .h5fba-left {
        margin: 0 0 30px;
    }
    .h5fba-right {
        text-align: left;
    }
    /*home-6*/
    .h6hta-social {
        text-align: left;
    }
    .h6hta-left {
        margin: 6px 0 30px;
    }
    .h6hma-logo {
        text-align: center;
    }
    .h6hma-right {
        text-align: left;
    }
    .h6-hero-form-area {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .service-7 .service-box {
        margin: 0 0 30px;
    }
    .h6-service-area {
        padding: 20px 0 50px;
    }
    .service-8 .service-box:last-child {
        margin: 0 0 46px;
    }
    .h6-section-title h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .h6-department-box {
        margin: 0 0 30px;
    }
    .h6-department-area {
        padding: 82px 0 63px;
    }
    .h6-doctor-box {
        margin: 0 0 30px;
    }
    .h6-doctor-area {
        padding: 60px 0 71px;
    }
    .h6-db-border {
        display: none;
    }
    .h6-ca-right {
        margin: 28px 0 0;
        text-align: left;
    }
    .h6-ca-right>a {
        margin-bottom: 20px;
    }
    .h6-blog-box .h6-bb-content {
        padding: 27px 10px 24px 14px;
    }
    .h6-subscribe {
        padding: 30px 20px;
    }
    .h6-sa-right .widget_wysija_cont input[type="email"] {
        margin: 0 0 30px;
        min-width: 100%;
    }
    .h6-single-footer {
        margin: 0 0 30px;
    }
    .h6hc-intro {
        font-size: 14px;
        line-height: 18px;
    }
    .h6hc-title {
        font-size: 28px;
        line-height: 32px;
    }
    /*blog-standard*/
    .sbs-c-meta p {
        margin-right: 10px;
    }
    .sbs-c-meta p::after {
        right: -10px;
    }
    .blog-sidebar {
        margin: 60px 0 0;
    }
    /*blog-details*/
    .blog-hero h2.bh-title {
        font-size: 38px;
        line-height: 42px;
        padding-bottom: 44px;
    }
    .bd-img-content {
        bottom: 0;
        left: 10px;
    }
    .bd-img-content h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .bd-img-content ul li {
        margin-right: 10px;
    }
    .bd-img-content ul li::after {
        right: -12px;
    }
    .bd-blockquote {
        font-size: 18px;
        line-height: 22px;
        padding-left: 84px;
    }
    .aa-box .aa-box-img {
        margin: 0 0 30px;
    }
    .comment-status-text .comment-author-metadata .author {
        margin: 18px 0 14px;
    }
    .comments .children li {
        padding-left: 10px;
    }
    .comment-respond-box {
        padding: 35px 30px 50px;
    }
    /*contact*/
    .contact-address {
        margin: 0 0 30px;
    }
    .contact-map {
        margin: 0 0 30px;
    }
    /*coming-soon*/
    .csc-title {
        font-size: 38px;
        line-height: 42px;
        margin: 110px 0 15px;
    }
    .timer-area {
        overflow: hidden;
    }
    .timer-area .cdown {
        float: left;
        margin-bottom: 30px;
        margin-right: 0;
        width: 50%;
    }
    .coming-soon-content .widget_wysija_cont {
        display: block;
    }
    .coming-soon-content .widget_wysija_cont input[type="email"] {
        width: 100%;
    }
    .coming-soon-content .widget_wysija_cont input[type="submit"] {
        padding: 0 5px;
    }
}